h1 {
    color: #fff;
    font-size: 2.5em;
}

html {
    background-color: #95a5a6;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form {
    width: 350px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 1em;
}

fieldset {
    border: none;
    padding: 0;
}


input,
label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label {
    margin-bottom: .25em;
}

input {
    padding: .75em;
    border-radius: 5px;
    margin-bottom: 1.5em;
    border: 1px solid #bbb;
    font-size: 1em;
}

legend {
    padding: 1em;
    text-align: center;
    font-weight: bold;
    color: #454e4f;
    font-size: 1.1em;
    margin-bottom: .5em;
}

.btn2 {
    font-weight: bold;
    background-color: rgb(233, 73, 15);
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

.btn2:hover {
    background-color: #000;
    border: 1px solid #fff;
}

.btns {
    display: flex;
    gap: 1em;
}

.btn-apagar {
    background-color: rgb(235, 235, 235);
    color: #000;
    border: 1px solid #000;
}

.btn-apagar:hover {
    background-color: rgb(228, 10, 10);
    border: 1px solid #fff;
    color: #fff;
}