body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(27, 27, 27);
}

h1 {
    background-color: #e5690e;
    text-align: center;
    padding: 40px;
}

h2 {
    background-color: rgba(180, 180, 180, 0.452);
    text-align: center;
    padding: 15px;
}

.p-sobre {
    text-align: center;
    font-weight: bold;
}

.objetivo {
    text-align: center;
}